<<<<<<< Updated upstream:header.css
/*

.hamburger_button{

    border:black solid 1px;
    background: red;
    top:1rem;
    left:1rem;
    padding: 0.25rem;
    position: absolute;
   z-index: 100;}


.closeIcon{
    display: none;
    color:black;
    float: right;
}

#hamburger_menu{
    position: fixed;

    transition: transform 0.2s;   padding-top: 4rem;
}
.hambMenu_item{
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;

}

#hamburger_menu_items {
    display: none;
    background:lightpink;
    padding: 1.2rem 1rem;
    transform: translate(1.2rem,4rem);
}

#hamburger_menu_items ul{
    list-style: none;
}

.showHamburgerMenu {
    display: block;
}

.menuIcon{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;

    cursor: pointer;
}
*/

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*region hamburger_button menu {*/

#close_btn{
    position: absolute;
    right: 0.3rem;
    top: 0.4rem;
    border:0;
    background:none;
    cursor: pointer;
    color:deeppink;
}

.hamburger-menu {
    background-color: white;
    position: absolute;
    width: 15rem;
    transform: translateY(-5.2rem);
    padding-left: 1rem;
}

.hamburger-menu h2, .hamburger-menu h4 {
    padding-top: 1rem;
    color: black;
    font-weight: initial;
}

.hamburger-menu ul {
    padding-top: 0.5rem;
    list-style: none;
}


.hamburger-menu footer p {
    padding-top: 15rem;
    font-size: 1rem;
}

.hamburger_button {
    background-color: indianred;
    border-radius: 0.4rem;
}

.search_bar {
    border-radius: 0.5rem;;
    border-style: initial;
    border-width: 0.3rem;
    border-color: rgb(169, 169, 169);
}

.search_bar input[type="search"] {
    outline: none;
}

#heart_search {
    color: deeppink;
    background: none;
    border-style: hidden;
}

/*}*/

/* region navbar logo*/
#logo_img{
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
}
/*end region*/

/*region navbar logotext+role p*/
.nav-item p {
    color:whitesmoke;
    font-size: 1.3rem;
}
=======
/*

.hamburger_button{

    border:black solid 1px;
    background: red;
    top:1rem;
    left:1rem;
    padding: 0.25rem;
    position: absolute;
   z-index: 100;}


.closeIcon{
    display: none;
    color:black;
    float: right;
}

#hamburger_menu{
    position: fixed;

    transition: transform 0.2s;   padding-top: 4rem;
}
.hambMenu_item{
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;

}

#hamburger_menu_items {
    display: none;
    background:lightpink;
    padding: 1.2rem 1rem;
    transform: translate(1.2rem,4rem);
}

#hamburger_menu_items ul{
    list-style: none;
}

.showHamburgerMenu {
    display: block;
}

.menuIcon{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;

    cursor: pointer;
}
*/

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*region hamburger_button menu {*/

#close_btn{
    position: absolute;
    right: 0.3rem;
    top: 0.4rem;
    border:0;
    background:none;
    cursor: pointer;
    color:deeppink;
}

.hamburger-menu {
    background-color: white;
    position: absolute;
    width: 15rem;
    transform: translateY(-5.2rem);
    padding-left: 1rem;
}

.hamburger-menu h2, .hamburger-menu h4 {
    padding-top: 1rem;
    color: black;
    font-weight: initial;
}

.hamburger-menu ul {
    padding-top: 0.5rem;
    list-style: none;
}


.hamburger-menu footer p {
    padding-top: 15rem;
    font-size: 1rem;
}

.hamburger_button {
    background-color: indianred;
    border-radius: 0.4rem;
}

.search_bar {
    border-radius: 0.5rem;;
    border-style: initial;
    border-width: 0.3rem;
    border-color: rgb(169, 169, 169);
}

.search_bar input[type="search"] {
    outline: none;
}

#heart_search {
    color: deeppink;
    background: none;
    border-style: hidden;
}

/*}*/

/* region navbar logo*/
#logo_img{
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
}
/*end region*/

/*region navbar logotext+role p*/
.nav-item p {
    color:whitesmoke;
    font-size: 1.3rem;
}
>>>>>>> Stashed changes:src/main/webapp/resources/css/header.css
/*end region*/